# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large datasets
data/raw/
*.csv
*.parquet
!data/processed/daily_demand.parquet

# OS
.DS_Store
Thumbs.db