# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large datasets
data/raw/

*.csv
!data/processed/store_sku_lookup.csv
*.parquet
!data/processed/daily_demand.parquet

# OS
.DS_Store
Thumbs.db
